http_address="0.0.0.0:4180"
cookie_secret="OQINaROshtE9TcZkNAm-5Zs2Pv3xaWytBmc5W7sPX7w="
email_domains="msrls.net"
cookie_secure="false"
upstreams="http://httpbin"
cookie_domains=["oauth2-proxy.dockge-ctl.sys.msrls.net:4080", "httpbin.dockge-ctl.sys.msrls.net:8080", "auth-node01.sys.msrls.net:8080"] # Required so cookie can be read on all subdomains.
whitelist_domains=[".auth.msrls.net"] # Required to allow redirection back to original requested target.

# keycloak provider
client_secret="72341b6d-7065-4518-a0e4-50ee15025608"
client_id="oauth2-proxy"
redirect_url="https://oauth2-proxy.auth.msrls.net/oauth2/callback"

# in this case oauth2-proxy is going to visit
# http://keycloak.localtest.me:9080/realms/oauth2-proxy/.well-known/openid-configuration for configuration
oidc_issuer_url="https://keycloak.auth.msrls.net/realms/msrls-apps/.well-known/openid-configuration"
provider="oidc"
provider_display_name="Keycloak"

# Mandatory option when using oauth2-proxy with traefik
reverse_proxy="true"
# Required for traefik with ForwardAuth and static upstream configuration 
upstreams="static://202"
# The following option skip the page requesting the user
# to click on a button to be redirected to the identity provider
# It can be activated only when traefik is not configure with
# the error redirection middleware as this example.
skip_provider_button="true"